@import './tailwind.css';

:root:root {
  --el-menu-item-height: 50px;
  --el-border-color: #eee;
}

:root {
  --xy-bg-color: #ecf0f1;
  --xy-layout-header-bg-color: #fff;
  --xy-layout-aside-bg-color: #fff;
  --xy-layout-main-bg-color: #f1f1f1;
  --xy-layout-aside--left-width: 60px;
  --xy-layout-spacing: 6px;
  --xy-layout-tabs-background-color: #f7f9ff;
  --xy-layout-tabs-active-color: #0984e3;
  --xy-layout-tabs-item-height: 56px;
  --xy-logo-height: 60px;
  --xy-logo-pic-width: 60px;
  --xy-layout-toolbar-color: #666;
  --xy-layout-navbar-height: 60px;
  --xy-layout-active-tags-height: 40px;
}

body,
html {
  height: 100%;
  color: var(--el-text-color-primary);
}

#app {
  height: 100%;
}
