@import './preflight.css';
@import './tailwind.css';
// @import "bootstrap/scss/bootstrap";
@import './element/index.scss';

::-webkit-scrollbar {
  width: 4px; /* 滚动条宽度 */
  height: 4px; /* 滚动条高度 */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--el-scrollbar-bg-color, var(--el-text-color-secondary)); /* 滚动条滑块背景色 */
  border-radius: 4px; /* 滑块圆角 */
  transition: var(--el-transition-duration) background-color;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--el-scrollbar-hover-bg-color, var(--el-text-color-secondary)); /* 滚动条滑块悬停时的背景色 */
  opacity: var(--el-scrollbar-hover-opacity, 0.5);
}

.vad-bg-color {
  background-color: var(--el-bg-color);
}

.vad-bg-color-page {
  background-color: var(--el-bg-color-page);
}

.vad-text-color-primary {
  color: var(--el-text-color-primary);
}

.vad-text-color-regular {
  color: var(--el-text-color-regular);
}

.vad-text-color-secondary {
  color: var(--el-text-color-secondary);
}

.vad-text-color-placeholder {
  color: var(--el-text-color-placeholder);
}

.vad-text-color-disabled {
  color: var(--el-text-color-disabled);
}
